{% extends 'core/index.html' %}
{% load static %}
{% block activeclass_home %}<a class="nav-link nav_link" aria-current="page" href="{% url 'index' %}">Home</a>{% endblock %}
{% block activeclass_about %}<a class="nav-link nav_link href_active" href="{% url 'about' %}">About</a>{% endblock %}

{% block content %}
    <!-- About Section 1 Start-->
    <div class="about_section_1">
        <div class="container">
            <div class="about_section_1_item">
                <h5>About Us</h5>
                <p>Tesla Landscaping is a licensed landscaping contractor, Lic # 1084935, with high tech and best
                    resources from all across the world. We serve San Francisco Bay Area majorly with dedication and
                    professionalism. We do both landscaping design and installation for our clients. Our installation
                    crews have long time landscaping experience, and are ones of the best landscaping installer in Bay
                    Area of San Francisco. Our landscaping installation selections includes pavers, turf, retaining
                    wall, irrigation, outdoor tiles, french drain, pergola, BBQ and sunroom that is made up of Low e
                    glass and the best aluminum. Our contact email address is teslalandscapinginfo@gmail.com. you are
                    welcome anytime to consult us about your landscaping projects.</p>
            </div>
        </div>
    </div>
    <!-- About Section 1 end-->
    {% include "core/installation_services.html" %}
{% endblock %}