{% extends 'core/index.html' %}

{% block activeclass %}
    <li class="nav-item">
        <a  class="nav-link nav_link" aria-current="page" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav_link href_active" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav_link" href="{% url 'gallery' %}">Gallery</a>
    </li>
{% endblock %}

{% block content %}
    <!-- About Section 1 Start-->
    <div class="about_section_1">
        <div class="container">
            <div class="about_section_1_item">
                <h5>About Us</h5>
                <p>Tesla Landscaping is a licensed landscaping contractor, Lic # 1084935, with high tech and best
                    resources from all across the world. We serve San Francisco Bay Area majorly with dedication and
                    professionalism. We do both landscaping design and installation for our clients. Our installation
                    crews have long time landscaping experience, and are ones of the best landscaping installer in Bay
                    Area of San Francisco. Our landscaping installation selections includes pavers, turf, retaining
                    wall, irrigation, outdoor tiles, french drain, pergola, BBQ and sunroom that is made up of Low e
                    glass and the best aluminum. Our contact email address is teslalandscapinginfo@gmail.com. you are
                    welcome anytime to consult us about your landscaping projects.</p>
            </div>
        </div>
    </div>
    <!-- About Section 1 end-->

    <!-- Our Installation Services Section Start-->
    <div class="section_3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="services_title">
                        <h2>what we offer</h2>
                        <h3>Our Installation Services</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="services_desc">
                        <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco.</p>
                        <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
            <div class="row card_row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="services_card">
                        <div class="card_title">
                            <h4>Pavers, <br> Turf</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="services_card walls_card">
                        <div class="card_title">
                            <h4>Retaining Walls</h4>
                            <h4>and Irrigation</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 drain_colum">
                    <div class="services_card">
                        <div class="card_title">
                            <h4>Outdoor Tiles</h4>
                            <h4>and French Drain</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 drain_colum">
                    <div class="services_card" style="border-right: 0;">
                        <div class="card_title">
                            <h4>Pergola,</h4>
                            <h4>BBQ and Sunroom</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Installation Services Section End-->

    <!-- contact our experts start  -->
    <div class="section_7">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="contact_our_sec">
                <h6>contact our experts</h6>
                <h1>Get Your Instant Free Quote Now</h1>
                <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco .</p>
                <div class="text-center">
                    <a href="{% url 'quote1' %}">
                        <button type="button" class="request_quote_button">Request Quote</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- contact our experts end -->
{% endblock %}