{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar Panel Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
    {% block head %}{% endblock %}
</head>

<body>
    <!-- header section start-->
    <div class="section_1">
        <div class="container">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container-fluid p-0">
                    <a class="navbar-brand navbar_brand" href="{% url 'index' %}">Tesla Landscaping</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav_ul" style="align-items: center;">
                            <li class="nav-item">
                                {% block activeclass_home %}<a class="nav-link nav_link" aria-current="page" href="{% url 'index' %}">Home</a>{% endblock %}
                            </li>
                            <li class="nav-item">
                                {% block activeclass_about %}<a class="nav-link nav_link" href="{% url 'about' %}">About</a>{% endblock %}
                            </li>
                            <li class="nav-item">
                                {% block activeclass_gallery %}<a class="nav-link nav_link" href="{% url 'gallery' %}">Gallery</a>{% endblock %}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0" href="{% url 'quote1' %}">
                                    <button type="button" class="quote_button">Request a Quote</button>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block get_quote %}{% endblock %}
    <!-- footer section start-->
    <footer>
        <div class="section_8">
            <div class="container">
                <div class="footer_top_item">
                    <div class="footer_top_item_1">
                        <div class="footer_header">
                        <a href="{% url 'index' %}">
                            <h6>Tesla Landscaping</h6>
                        </a>
                        </div>
                        <div class="footer_item">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="{% url 'about' %}">About</a>
                            <a href="{% url 'gallery' %}">Gallery</a>
                            <a href="{% url 'quote1' %}">Quote</a>

                        </div>
                    </div>
                </div>
                <div class="footer_bottom_item">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-7 ">
                            <p>Country— 123 street ,28499 City, 47589</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-5">
                            <a href="#" style="text-decoration: none;">
                                <p>henrylanchestercan@gmail.com</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 dial_number_colum">
                            <a href="#" class="dial_number">+1 510-557-2996 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</body>
</html>