{% extends 'core/index.html' %}
{% load static %}
{% block activeclass_home %}<a class="nav-link nav_link" aria-current="page" href="{% url 'index' %}">Home</a>{% endblock %}
{% block activeclass_gallery %}<a class="nav-link nav_link href_active" href="{% url 'gallery' %}">Gallery</a>{% endblock %}

{% block content %}
    <div class="gallery_section_1">
        <div class="container">
            <div class="gallery_section_1_item">
                <h4>Gallery</h4>
                <div class="gallery_image_section">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-12 col-12 gallery_image_1_colum">
                            <img src="{% static 'images/5.5.png' %}" alt="" class="gallery_image_1">
                            <img src="{% static 'images/6.6.png' %}" alt="" class="gallery_image_1">
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                            <img src="{% static 'images/7.7.png' %}" alt="" class="gallery_image_3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}