{% extends 'core/base.html' %}
{% load static %}
{% block activeclass_home %}<a class="nav-link nav_link href_active" aria-current="page" href="{% url 'index' %}">Home</a>{% endblock %}
    
{% block content %}
    <!-- Solar Brilliance Section Start-->
    <div class="section_2">
        <div class="container">
            <div style="display: flex;flex-direction: column; align-items: center;">
                <div class="powering_head">
                    <h1>Powering Your Home with Solar Brilliance</h1>
                </div>
                <div class="powering_p">
                    <p>Adipiscing elit, sed do eiazusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim veniam, quis nostrud. Dicta sunt explicabo.</p>
                </div>
            </div>
            <div class="section_1_image">
                <img src="{% static 'images/Section → solar-company-image4.jpg.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- Solar Brilliance Section end-->

    {% include "core/installation_services.html" %}
    {% include "core/save_electricity.html" %}

    <!-- Maximum Durability Section Start-->
    <div class="section_5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 maximum_durab_colum">
                    <div class="maximum_durab">
                        <div class="less_impact2">
                            <h5>Maximum Durability</h5>
                            <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img src="{% static 'images/3.png' %}" alt="" class="maximum_durab_image">
                </div>
            </div>
            <div class="row less_impact_row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img src="{% static 'images/4.png' %}" alt="" class="maximum_durab_image">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 less_impact1">
                    <div class="maximum_durab">
                        <div class="less_impact2">
                            <h5>Less Impact</h5>
                            <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row leaks_row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 maximum_durab_colum">
                    <div class="maximum_durab">
                        <div class="less_impact2">
                            <h5>No Leaks</h5>
                            <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            <p>Adipiscing elit, sed do euismod tempor incidunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img src="{% static 'images/4.1.png' %}" alt="" class="maximum_durab_image">
                </div>
            </div>
        </div>
    </div>
    <!-- Maximum Durability Section End-->
{% endblock %}
    
{% block get_quote %}
    <div class="section_7">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="contact_our_sec">
                <h6>contact our experts</h6>
                <h1>Get Your Instant Free Quote Now</h1>
                <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco .</p>
                <div class="text-center">
                    <a href="{% url 'quote1' %}">
                        <button type="button" class="request_quote_button">Request Quote</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}