{% extends 'core/base.html' %}
{% load static %}
{% block script %}<script src="{% static 'js/quote4.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote2_section_1 quote3_section_1">
        <div class="container">
            <div 
            class="house_detail_sec your_home" id="house_detail_sec" 
            data-distance="{{ total_distance }}" 
            data-value="{{ selected_value }}" 
            data-initlat="{{ initialLat }}"
            data-initlng="{{ initialLng }}"
            data-matname="{{ selectedTitle }}"
            >
                <h2>Confirmation</h2>
                <p class="house_size">Project Size 123940 ft</p>
                <div class="vector_image">
                    <img src="{{ map_image }}" alt="House Image Drawn">
                </div>
                <div class="solar_size_section">
                    <h4>Project Estimate</h4>
                    <p>Estimated pricing for your project.</p>
                    <div class="solar_price material_element" style="margin-bottom: 10px;">
                        <h6>Material</h6>
                        <h6>Sample</h6>
                    </div>
                    <div class="solar_price price_element">
                        <h6>Price</h6>
                        <h6>$16,552</h6>
                    </div>
                </div>
                <div class="quote1_button_sec">
                    <form method="post" action="{% url 'quote5' %}">
                        {% csrf_token %}
                        <input type="hidden" name="initialLat">
                        <input type="hidden" name="initialLng">
                        <input type="hidden" name="selectedMaterial">
                        <input type="hidden" name="price">
                        <input type="hidden" name="area">
                        <button type="sumbit" class="quote1_button">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}