{% extends 'core/base.html' %}
{% load static %}
{% block script %}<script src="{% static 'js/quote5.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote2_section_1 quote5_section_1">
        <div class="container">
            <div class="house_detail_sec your_home">
                <h2></h2>
                <div class="solar_size_section" id="solar_size_section" data-price="{{ request.GET.price }}">
                    <h4>Submission Summary</h4>
                    <div class="order_summary">
                    </div>
                    <div class="order_summary order_summary_cash">
                        <p>Cash Price</p>
                        <h6>$16,552</h6>
                    </div>
                </div>
                <div class="quote1_button_sec">
                    <a href="#">
                        <button type="button" class="quote1_button">Submit</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}