{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quote2.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjBa0bBtZgyrt_kaNV_I9anxcPYYQY1s&libraries=drawing&callback=initMap" async defer></script>
{% endblock %}
{% block script %}
    {% comment %} <script src="{% static 'js/quote2.js' %}"></script> {% endcomment %}
    <script>
        function initMap() {
            let lat = parseFloat('{{ request.GET.lat }}');
            let lng = parseFloat('{{ request.GET.lng }}');
            
            let location = { lat: lat, lng: lng };
            let pathCoordinates = [];
            
            let map = new google.maps.Map(document.getElementById('mapContainer'), {
                center: location,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.SATELLITE
            });
        
            let drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: google.maps.drawing.OverlayType.POLYLINE,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: ['polyline']
                }
            });
            drawingManager.setMap(map);
            
            google.maps.event.addListener(drawingManager, 'polylinecomplete', function(polyline) {
                let path = polyline.getPath();
                path.forEach(function(latlng) {
                    pathCoordinates.push({ lat: latlng.lat(), lng: latlng.lng() });
                });
        
                let coordinatesJSON = JSON.stringify(pathCoordinates);
        
                window.location.href = '{% url "quote3" %}?coordinates=' + encodeURIComponent(coordinatesJSON);
            });
        }
        document.addEventListener('DOMContentLoaded', initMap);
        
    </script>
{% endblock %}

{% block content %}
    <div class="quote2_section_1">
        <div class="container">
            <div class="house_detail_sec">
                <h2>Mark Your House</h2>
                <div>
                    <div id="mapContainer" class="mark_house_map"></div>
                </div>
                <div class="quote1_button_sec">
                    <a href="{% url 'quote3' %}">
                        <button type="button" class="quote1_button">Next</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}