{% extends 'core/base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/quote3.css' %}">{% endblock %}
{% block script %}<script src="{% static 'js/quote3.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote2_section_1 quote3_section_1">
        <div class="container">
            <div class="house_detail_sec">
                <h2>Choose Material</h2>
                <div class="card_section">
                    <div class="row" id="data_fetch" data-component="{{ coordinates }}">
                        {% for option in solar_options %}
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-4">
                                <div class="choose_material_card" data-value="{{ option.value }}" data-name="{{ option.title }}">
                                    {% for image in option.optionimage_set.all %}
                                    <img src="{{ MEDIA_URL }}{{ image.image_file.url }}" class="card_img" alt="{{ image.image_file.name }}">
                                    {% endfor %}
                                    <div class="card_body">
                                        <h5>{{ option.title }}</h5>
                                        <p>${{ option.value }} per Square Ft.</p>
                                        <p>{{ option.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="quote1_button_sec">
                    <form method="post" action="{% url 'quote4' %}">
                        {% csrf_token %}
                        <input type="hidden" name="total_distance" id="totalDistanceInput">
                        <input type="hidden" name="selected_value" id="selectedValueInput">
                        <input type="hidden" name="initialLat" id="initialLatInput">
                        <input type="hidden" name="initialLng" id="initialLngInput">
                        <input type="hidden" name="selectedTitle" id="selectedTitleInput">
                        <button type="submit" class="quote1_button">Get Quote</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}