{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quote2.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjBa0bBtZgyrt_kaNV_I9anxcPYYQY1s&libraries=drawing&callback=initMap" async defer></script>
{% endblock %}
{% block script %}<script src="{% static 'js/quote2.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote2_section_1">
        <div class="container">
            <div class="house_detail_sec">
                <h2>Mark Your House</h2>
                <div>
                    <div id="mapContainer" class="mark_house_map" data-lat="{{ lat }}" data-lng="{{ lng }}"></div>
                </div>
                <div class="quote1_button_sec">
                    <form method="post" action="{% url 'quote3' %}">
                        {% csrf_token %}
                        <input type="hidden" name="coordinates" id="coordinatesInput" value="{{ coordinates }}">
                        <input type="hidden" name="map_image" id="map_imageInput">
                        <button type="submit" class="quote1_button">Next</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}