{% extends 'core/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quote2.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjBa0bBtZgyrt_kaNV_I9anxcPYYQY1s&libraries=drawing&callback=initMap" async defer></script>
{% endblock %}
{% block script %}<script src="{% static 'js/quote2.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote2_section_1">
        <div class="container">
            <div class="house_detail_sec">
                <h2>Mark Your House</h2>
                <div>
                    <div id="mapContainer" class="mark_house_map" data-lat="{{ request.GET.lat }}" data-lng="{{ request.GET.lng }}"></div>
                </div>
                <div class="quote1_button_sec">
                    <a href="{% url 'quote3' %}">
                        <button type="button" data-url="{% url 'quote3' %}" class="quote1_button">Next</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}