{% extends 'core/base.html' %}
{% load static %}
{% block script %}<script src="{% static 'js/quote4.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote2_section_1 quote3_section_1">
        <div class="container">
            <div class="house_detail_sec your_home">
                <h2>Your Home</h2>
                <h3>Your Address, street no, house no</h3>
                <p class="house_size">Size of your house is 123940 ft</p>
                <div class="vector_image">
                    <img src="{% static 'images/Vector.svg' %}" alt="">
                </div>
                <div class="solar_size_section">
                    <h4>Total Price</h4>
                    <div class="solar_price">
                        <h6>Price</h6>
                        <h6>$16,552</h6>
                    </div>
                </div>
                <div class="quote1_button_sec">
                    <a href="#">
                        <button type="button" class="quote1_button">Continue to Order</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}