{% extends 'core/base.html' %}
{% load static %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmjBa0bBtZgyrt_kaNV_I9anxcPYYQY1s&libraries=places&callback=initMap"></script>
{% endblock %}
{% block script %}<script src="{% static 'js/quote1.js' %}"></script>{% endblock %}

{% block content %}
    <div class="quote_section_1">
        <div class="house_detail_sec">
            <h2>House Details</h2>
            <div style="position: relative;">
                <input type="text" name="" id="addressInput" class="address_input" placeholder="Enter Your Address">
                <i class='bx bx-search search_icon'></i>
            </div>
            <div class="quote1_button_sec">
                <form method='post' action="{% url 'quote2' %}">
                    {% csrf_token %}
                    <input type="hidden" name="lat" id="latInput">
                    <input type="hidden" name="lng" id="lngInput">
                    <button type="submit" class="quote1_button">Next</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}